#contentSpacing {
  padding: 0 5px;
}

.statistic {
  display: flex;
  align-items: center;
}

.playerName {
  font-size: 2rem;
  text-align: center;
  display: inline;
}

.titleImage{
  width: 2rem;
  margin: 10px;
}

.titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color:rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
}

.noPlayerContent {
  text-align: center;
  font-size: 3rem;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.citiesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.citiesDiv img:hover {
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}